.main-container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
}

.section {
  width: 100%;
}

.main-promo {
  img {
    max-width: 100%;
    height: auto;
  }
}

/* TABS STARTS */

.tabs-wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.tabs-shifters {
  display: flex;
  justify-content: center;
}

.tabs-shifters__item {
  position: relative;
  width: auto;
  text-align: center;
  padding: 20px 0;
  &:not(&:last-child) {
    margin-right: 20px;
  }
  text-decoration: none;
  color: #999999;
  @include adaptive-font(24, 18);
  font-family: $font-text;
  &:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 20%;
    left: 0;
    opacity: 0;
    background-color: blue;
    transition: opacity 0.23s ease-out;
  }
}

.tabs-shifters__item_active {
  color: black;

  &:after {
    opacity: 1;
  }
}

.tabs-content {}

.tabs-content__item {
  display: none;
  background-color: white;
  padding: 20px;
}

.tabs-content__item_active {
  display: block;
}

/*TABS ENDS */


.tabs-title {
  font-family: $font-title;
  @include adaptive-font(28, 22);
  text-align: center;
  margin-bottom: 40px;
}

.tabs-text {
  font-family: $font-text;
  @include adaptive-font(22, 16);
  text-align: center;
}

/* items-display */

.items-display {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.items-display__left,
.items-display__right {
  width: 47%;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  min-height: 300px;
  height: auto;
  margin-top: 100px;
  background-color: #f2f2f2;
  padding-top: 70px;
  padding-bottom: 20px;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 10px;
    text-align: center;
  }
  span {
    @include adaptive-font(20, 18);
    font-family: $font-text;
  }
}
.bottom-middle {
  width: 7%;
  @include adaptive-font(24, 18);
  font-family: $font-text;
}

.bottom-left,
.bottom-right {
  position: relative;

  .frame-number {
    position: absolute;
    bottom: -35%;
    left: 50%;

    transform: translateX(-50%);
  }
}

.bottom-left {
  width: 40%;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.bottom-middle {
  width: 8%;
  text-align: center;
}

.bottom-right {
  width: 40%;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.frame-number {
  display: inline-block;
  margin: 15px 0 20px 0;
  font-size: 18px;
  font-family: $font-text;
  text-align: center;
}

.model-number {
  display: inline-block;
  margin: 15px 0 20px 0;
  @include adaptive-font(24, 22);
  font-family: $font-text;
}

.tv-item__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 143px;
  height: 46px;
  border-radius: 22px;
  border: 2px solid #171717;
  color: #171717;
  font-size: 18px;

  transition: background-color 0.23s ease-out;
  &:hover,
  &:focus {
    background-color: lighten(#171717, 70%);
  }
  &:active {
    background-color: lighten(#171717, 30%);
  }
}

.legal-text {
  text-align: center;
  color: #999999;
  font-size: 10px;
}

.promo-announcement {
  display: flex;
  justify-content: center;
  padding: 60px 0 20px 0;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.promo-rules {
  width: 80%;
  margin: 0 auto 80px auto;
}

.promo-rules__row {
  display: flex;
  &:not(&:last-child) {
    margin-bottom: 20px;
  }
}
.row-left {
  margin-right: 30px;
}
.row-right {
  @include adaptive-font(24, 18);
}

@media screen and(max-width: 1200px) {
  .items-display {
    flex-direction: column;
    align-items: center;
  }

  .items-display__left,
  .items-display__right {
    width: 80%;
    margin-bottom: 50px;
  }

  .bottom {
    justify-content: space-around;
  }

  .promo-rules {
    width: 100%;
  }
}

@media screen and(max-width: 792px) {
  .bottom {
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 40px;
  }

  .bottom-left {
    margin-bottom: 18px;
  }

  .bottom-middle {
    padding: 10px
  }
}

@media screen and(max-width: 412px) {
  .tabs-content__item {
    padding: 0;
  }

  .items-display {
    width: 100%;
  }

  .items-display__left,
  .items-display__right {
    width: 100%;
  }
}
